<a href="https://colab.research.google.com/github/hap6v6/ML_study/blob/main/%EC%B6%94%EC%B2%9C%20%EC%8B%9C%EC%8A%A4%ED%85%9C%20%EC%9E%85%EB%AC%B8%ED%8E%B8/1_movies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# pandas 패키지
import pandas as pd

In [7]:
pd.__version__

'1.5.3'

# Read Data

In [8]:
#pd.read_csv('불러올 파일 위치')
#index_col='movieId': movieId column을 index로 사용
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/movies.csv', index_col='movieId')

In [14]:
movies

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
193585,Flint (2017),Drama
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [15]:
movies.shape # 데이터 행의 수, 열의 수 확인

(9742, 2)

In [16]:
movies.head(10) # 상위 10개 데이터만 가져오기

,title,genres
movieId,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji (1995),Adventure|Children|Fantasy
3,Grumpier Old Men (1995),Comedy|Romance
4,Waiting to Exhale (1995),Comedy|Drama|Romance
5,Father of the Bride Part II (1995),Comedy
6,Heat (1995),Action|Crime|Thriller
7,Sabrina (1995),Comedy|Romance
8,Tom and Huck (1995),Adventure|Children
9,Sudden Death (1995),Action
10,GoldenEye (1995),Action|Adventure|Thriller

In [17]:
movies.sample(10) # 랜덤으로 10개 골라주기

,title,genres
movieId,,
692,Solo (1996),Action|Sci-Fi|Thriller
41627,Samurai Rebellion (Jôi-uchi: Hairyô tsuma shim...,Action|Drama
2363,Godzilla (Gojira) (1954),Drama|Horror|Sci-Fi
8580,Into the Woods (1991),Adventure|Comedy|Fantasy|Musical
170399,CHiPS (2017),Action|Comedy|Drama
2661,It Came from Outer Space (1953),Sci-Fi
190183,The Darkest Minds (2018),Sci-Fi|Thriller
163,Desperado (1995),Action|Romance|Western
5574,"Transporter, The (2002)",Action|Crime
27808,Spanglish (2004),Comedy|Drama|Romance

In [18]:
movies.columns # 데이터 프레임 안의 column 이름 출력

Index(['title', 'genres'], dtype='object')

# Save Data

In [19]:
#movies.to_csv('저장할 위치')
movies.to_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/save_test.csv')