<a href="https://colab.research.google.com/github/hap6v6/ML_study/blob/main/%EC%B6%94%EC%B2%9C%20%EC%8B%9C%EC%8A%A4%ED%85%9C%20%EC%9E%85%EB%AC%B8%ED%8E%B8/3_my_ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# [영화 평점 데이터 분석] 나의 평점 데이터 기록

In [ ]:
import pandas as pd

In [ ]:
ratings = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/ratings.csv')
ratings.sample()

       userId  movieId  rating   timestamp
66123     425     5418     4.0  1085492450

# timestamp 컬럼 처리
사람이 해석할 수 있는 형식으로

In [ ]:
from datetime import datetime

In [ ]:
# fromtimestamp(): 사람이 보기 쉬운 시간 형식으로 전환
datetime.fromtimestamp(1009691421)

datetime.datetime(2001, 12, 30, 5, 50, 21)

In [ ]:
ratings['timestamp'] = ratings['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [ ]:
ratings.sample()

       userId  movieId  rating           timestamp
23686     161     2617     4.0 2007-04-16 18:05:02

# 내 데이터 붙이기

In [ ]:
myratings = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/my-ratings.csv')
myratings.sample()

   userId  movieId  rating            timestamp
1    1000   106696     2.0  2020-04-21 15:00:00

In [ ]:
# myratings['timestamp']
# data type이 object: 그냥 문자열이다
# 따라서 data type datetime으로 바꾸기
myratings['timestamp'] = pd.to_datetime(myratings['timestamp'])

In [ ]:
# 데이터 이어 붙이기
ratings_concat = pd.concat([ratings, myratings])
ratings_concat.tail()

    userId  movieId  rating            timestamp
9     1001   110102     3.0  2023-05-12 15:00:00
10    1001   177765     4.0  2023-05-13 15:00:00
11    1001   122916     4.5  2023-05-14 15:00:00
12    1001   166643     5.0  2023-05-15 15:00:00
13    1001   140523     0.5  2023-05-16 15:00:00

In [ ]:
ratings_concat.to_pickle('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/ratings_updated.p')