<a href="https://colab.research.google.com/github/hap6v6/ML_study/blob/main/%EC%B6%94%EC%B2%9C%20%EC%8B%9C%EC%8A%A4%ED%85%9C%20%EC%9E%85%EB%AC%B8%ED%8E%B8/pandas_regular_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 보충강의 - 정규표현식으로 문자열 다루기

In [ ]:
import pandas as pd

In [ ]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/movies.csv', index_col='movieId')

In [ ]:
movies.sample()

                           title                genres
movieId
5673     Punch-Drunk Love (2002)  Comedy|Drama|Romance

In [ ]:
# 정규 표현식 이용해서 문자 가져오기 str.extract('(정규표현식)')
movies['year'] = movies['title'].str.extract('(\(\d\d\d\d\))')

In [ ]:
#괄호 제거
movies['year'] = movies['year'].str.extract('(\d\d\d\d)')
movies

,title,genres,year
movieId,,,
1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
2,Jumanji (1995),Adventure|Children|Fantasy,1995
3,Grumpier Old Men (1995),Comedy|Romance,1995
4,Waiting to Exhale (1995),Comedy|Drama|Romance,1995
5,Father of the Bride Part II (1995),Comedy,1995
...,...,...,...
193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,2017
193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,2017
193585,Flint (2017),Drama,2017
193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,2018
193609,Andrew Dice Clay: Dice Rules (1991),Comedy,1991

참고자료
- [[생활코딩] 정규표현식이란?](https://opentutorials.org/course/909/5142)
- [[점프 투 파이썬] 07장 정규표현식](https://wikidocs.net/1669)
- [RegexOne: Learn Regular Expressions with simple, interactive exercise](https://regexone.com/) (수업에 사용한 튜토리얼)
- https://regexr.com/ (수업에 사용한 정규 표현식 테스트 해 볼 수 있는 사이트)