<a href="https://colab.research.google.com/github/hap6v6/ML_study/blob/main/%EC%B6%94%EC%B2%9C%20%EC%8B%9C%EC%8A%A4%ED%85%9C%20%EC%9E%85%EB%AC%B8%ED%8E%B8/pandas_loc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas 보충강의 - Pandas의 loc 정확하게 사용하기
Pandas의 apply 함수 강의 이어서

In [1]:
import pandas as pd

In [3]:
movies = pd.read_csv('/content/drive/MyDrive/추천 시스템 입문(inflearn)/data/ml-latest-small/movies.csv', index_col='movieId')
movies.sample()

                                                     title              genres
movieId
43708    Block Party (a.k.a. Dave Chappelle's Block Par...  Comedy|Documentary

In [4]:
# 정규표현식을 사용하지 않고, 개봉연도 추출하기
movies['year'] = movies['title'].apply(lambda x: x[-5:-1])
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '999)', '2005', '2006', '1902', 'lon ', '1903', '2007',
       '2008', '008)', '007)', '2009', '2010', '2011', '2012', '011)',
       '998)', '995)', '2013', '012)', '973)', '2014', '2015', '014)',
       '2016', '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal',
       'erso', 'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'],
      dtype=object)

## [1] ex.'012)' - 개봉연도 맨 앞자리가 잘림

In [5]:
# ex. 012) - 개봉연도 맨 앞자리가 잘림
movies[movies['year'] == '012)']

                                title                    genres  year
movieId
102084   Justice League: Doom (2012)   Action|Animation|Fantasy  012)

In [7]:
# Pandas .loc[] == location: 특정 값 가져오기
# movies.loc[index, column]
movies.loc[102084, 'title']
# 개봉연도 뒤에 공백이 있어서 잘못된 값이 나왔던 것

'Justice League: Doom (2012) '

In [8]:
# strip(): 개봉연도의 앞 뒤 공백 없애주기
movies.loc[102084, 'title'].strip()

'Justice League: Doom (2012)'

In [9]:
# 전체 데이터에 앞 뒤 공백 없애기 적용
movies['title'] = movies['title'].apply(lambda x: x.strip())

In [10]:
# 개봉연도 추출 과정 반복
movies['year'] = movies['title'].apply(lambda x: x[-5:-1])
movies['year'].unique()
# 1번 패턴은 정제 완료

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', 'lon ', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908', 'r On', ' Roa', 'atso', 'imal', 'erso',
       'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro'], dtype=object)

## [2] 이상한 값 - 임의 개봉연도 지정

In [11]:
# 이상한 값 모으기
errors = ['lon ', 'r On', ' Roa', 'atso', 'imal', 'erso', 'ligh', 'he O', 'osmo', ' Bab', 'ron ', 'irro']

In [14]:
# 이상한 값 발견된 데이터들만 불러오기
# 필터링 정보: movies['year'].isin(errors)-> 결과 T/F
# True인 데이터만 보여준다
movies[movies['year'].isin(errors)]

,title,genres,year
movieId,,,
40697,Babylon 5,Sci-Fi,lon
140956,Ready Player One,Action|Sci-Fi|Thriller,r On
143410,Hyena Road,(no genres listed),Roa
147250,The Adventures of Sherlock Holmes and Doctor W...,(no genres listed),atso
149334,Nocturnal Animals,Drama|Thriller,imal
156605,Paterson,(no genres listed),erso
162414,Moonlight,Drama,ligh
167570,The OA,(no genres listed),he O
171495,Cosmos,(no genres listed),osmo
171631,Maria Bamford: Old Baby,(no genres listed),Bab
171891,Generation Iron 2,(no genres listed),ron
176601,Black Mirror,(no genres listed),irro

In [15]:
# 개봉연도 2050으로 임의 설정
# movies.loc[필터링 정보, column]
movies.loc[movies['year'].isin(errors), 'year'] = '2050'

In [16]:
movies['year'].unique()

array(['1995', '1994', '1996', '1976', '1992', '1967', '1993', '1964',
       '1977', '1965', '1982', '1990', '1991', '1989', '1937', '1940',
       '1969', '1981', '1973', '1970', '1955', '1959', '1968', '1988',
       '1997', '1972', '1943', '1952', '1951', '1957', '1961', '1958',
       '1954', '1934', '1944', '1960', '1963', '1942', '1941', '1953',
       '1939', '1950', '1946', '1945', '1938', '1947', '1935', '1936',
       '1956', '1949', '1932', '1975', '1974', '1971', '1979', '1987',
       '1986', '1980', '1978', '1985', '1966', '1962', '1983', '1984',
       '1948', '1933', '1931', '1922', '1998', '1929', '1930', '1927',
       '1928', '1999', '2000', '1926', '1919', '1921', '1925', '1923',
       '2001', '2002', '2003', '1920', '1915', '1924', '2004', '1916',
       '1917', '2005', '2006', '1902', '2050', '1903', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018', '1908'], dtype=object)